#ignore thumbnails created by windows
Thumbs.db
#Visual Studioによって作られるファイルを無視
ipch
*.sdf
*.suo
*.opensdf
*.VC.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal

*.vcxproj.user

SMM2_RTA_AssistTool/SMM2_RTA_AssistTool/bin/Debug
SMM2_RTA_AssistTool/SMM2_RTA_AssistTool/bin/Release
SMM2_RTA_AssistTool/SMM2_RTA_AssistTool/obj/Debug
SMM2_RTA_AssistTool/SMM2_RTA_AssistTool/obj/Release

Preferences.ini
PropertyCache.ini
